{% extends "layout.html" %}
{% block content %}

    <div id="block_container" class="row margin-l">
        <div class="pepe">
            <h1 class="margin-b bold">Първата в България програма за проверка на всички видове грешки</h1>
            <h4 class="light">Проверка на лексикални, граматични и правописни грешки</h4>
            <div>
                <button type="button" class="light btn btn-outline-dark">Цени</button>
                <button type="button" class="light raz btn btn-outline-dark">Демо</button>
            </div>
        </div>
        <div class="pupu col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
            <img src="static/images/poster.png" class="img-fluid" alt="">
        </div>
    </div>
{% endblock content %}
